<%= form_with model: item do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% item.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% item.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :value %><br>
    <%= form.number_field :value, in: 0..10000, default: 0, step: 1 %>
  </div>

  <div>
    <%= form.label :useful %><br>
    <%= form.check_box :useful %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>